<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <h1>Angular</h1>
  <app-course></app-course>
  <app-favourite [is-favourite]="post.isFavourite" (change)="onFavouriteChange($event)"></app-favourite>
  <i class="far fa-user"></i>
  <app-bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body1">
      <h1>My  Body</h1>
      <p>Some Text Here...</p>
    </div>
    <ng-container class="extraText1">
        Hello Boy  all is well
    </ng-container>
  </app-bootstrap-panel>
<br/>
  <app-directives></app-directives> -->

  <!-- <input type="text" [appInputFormat]="'uppercase'">
  <contact-form></contact-form> -->

  <!-- <signup-form></signup-form> -->
  <!-- <newcourse></newcourse> -->
  <app-posts></app-posts>
  


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>